<p id="notice"><%= notice %></p>

<p>
  <strong>Tsn:</strong>
  <%= @plant_detail.tsn %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @plant_detail.common_name %>
</p>

<p>
  <strong>Native:</strong>
  <%= @plant_detail.native %>
</p>

<p>
  <strong>Invasive:</strong>
  <%= @plant_detail.invasive %>
</p>

<p>
  <strong>Typical habitat:</strong>
  <%= @plant_detail.typical_habitat %>
</p>

<p>
  <strong>Typical flowering time:</strong>
  <%= @plant_detail.typical_flowering_time %>
</p>

<p>
  <strong>Typical fruiting time:</strong>
  <%= @plant_detail.typical_fruiting_time %>
</p>

<p>
  <strong>Growth habit:</strong>
  <%= @plant_detail.growth_habit %>
</p>

<p>
  <strong>Annual biennial perennial:</strong>
  <%= @plant_detail.annual_biennial_perennial %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @plant_detail.toxicity %>
</p>

<p>
  <strong>Medical uses:</strong>
  <%= @plant_detail.medical_uses %>
</p>

<p>
  <strong>Culinary uses:</strong>
  <%= @plant_detail.culinary_uses %>
</p>

<p>
  <strong>Ornamental uses:</strong>
  <%= @plant_detail.ornamental_uses %>
</p>

<p>
  <strong>Other uses:</strong>
  <%= @plant_detail.other_uses %>
</p>

<p>
  <strong>Status local:</strong>
  <%= @plant_detail.status_local %>
</p>

<p>
  <strong>Status state:</strong>
  <%= @plant_detail.status_state %>
</p>

<p>
  <strong>Status us:</strong>
  <%= @plant_detail.status_us %>
</p>

<p>
  <strong>Status global:</strong>
  <%= @plant_detail.status_global %>
</p>

<p>
  <strong>Ecr:</strong>
  <%= @plant_detail.ecr %>
</p>

<p>
  <strong>Hhcp:</strong>
  <%= @plant_detail.hhcp %>
</p>

<p>
  <strong>Leb:</strong>
  <%= @plant_detail.leb %>
</p>

<p>
  <strong>Uwb:</strong>
  <%= @plant_detail.uwb %>
</p>

<p>
  <strong>Wsp:</strong>
  <%= @plant_detail.wsp %>
</p>

<p>
  <strong>Ar:</strong>
  <%= @plant_detail.ar %>
</p>

<%= link_to 'Edit', edit_plant_detail_path(@plant_detail) %> |
<%= link_to 'Back', plant_details_path %>
