<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Leaf type:</strong>
  <%= @plant.leaf_type %>
</p>

<p>
  <strong>Leaf attachment:</strong>
  <%= @plant.leaf_attachment %>
</p>

<p>
  <strong>Leaf arrangement:</strong>
  <%= @plant.leaf_arrangement %>
</p>

<p>
  <strong>Leaf veins:</strong>
  <%= @plant.leaf_veins %>
</p>

<p>
  <strong>Leaf edge:</strong>
  <%= @plant.leaf_edge %>
</p>

<p>
  <strong>Flower type:</strong>
  <%= @plant.flower_type %>
</p>

<p>
  <strong>Flower attachment:</strong>
  <%= @plant.flower_attachment %>
</p>

<p>
  <strong>Flower arrangement:</strong>
  <%= @plant.flower_arrangement %>
</p>

<p>
  <strong>Flower symmetry:</strong>
  <%= @plant.flower_symmetry %>
</p>

<p>
  <strong>Flower petal number:</strong>
  <%= @plant.flower_petal_number %>
</p>

<p>
  <strong>Flower petal color:</strong>
  <%= @plant.flower_petal_color %>
</p>

<p>
  <strong>Fruit type:</strong>
  <%= @plant.fruit_type %>
</p>

<p>
  <strong>Fruit attachment:</strong>
  <%= @plant.fruit_attachment %>
</p>

<p>
  <strong>Fruit arrangement:</strong>
  <%= @plant.fruit_arrangement %>
</p>

<p>
  <strong>Fruit color:</strong>
  <%= @plant.fruit_color %>
</p>

<p>
  <strong>Bark attachment:</strong>
  <%= @plant.bark_attachment %>
</p>

<p>
  <strong>Bark texture:</strong>
  <%= @plant.bark_texture %>
</p>

<p>
  <strong>Bark color:</strong>
  <%= @plant.bark_color %>
</p>

<p>
  <strong>Thorn type:</strong>
  <%= @plant.thorn_type %>
</p>

<p>
  <strong>Thorn arrangement:</strong>
  <%= @plant.thorn_arrangement %>
</p>

<p>
  <strong>Thorn stiffness:</strong>
  <%= @plant.thorn_stiffness %>
</p>

<p>
  <strong>Tendril type:</strong>
  <%= @plant.tendril_type %>
</p>

<p>
  <strong>Tendril attachment:</strong>
  <%= @plant.tendril_attachment %>
</p>

<p>
  <strong>Tendril arrangement:</strong>
  <%= @plant.tendril_arrangement %>
</p>

<p>
  <strong>Tsn:</strong>
  <%= @plant.tsn %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
