<div class="field">
  <p><strong>Bark Attachment</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :bark_attachment, 'firm' %> Firm and solid</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_attachment, 'peeling' %> Sheeting off</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_attachment, 'fibrous' %> Fibers shedding off</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_attachment, 'flaking or scaling' %> Flaking or scaling off</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Bark Texture</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :bark_texture, 'smooth' %> Smooth</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_texture, 'rough' %> Rough</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_texture, 'scales' %> Scales</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_texture, 'hairy' %> Hairy</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_texture, 'furrows' %> Furrows</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_texture, 'other' %> Other</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Bark Color</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :bark_color, 'black' %> Black</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_color, 'brown' %> Brown</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_color, 'white' %> White</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_color, 'gray' %> Gray</label><br>
    <label class="list-group-item"><%=s.radio_button :bark_color, 'mottled' %> Mottled</label><br>
  </ul>
</div>

