<div class="field">
  <p><strong>Bark Attachment</strong></p>
  <%=s.radio_button :bark_attachment, 'firm' %>
  <%=s.label 'firm and solid' %><br>
  <%=s.radio_button :bark_attachment, 'peeling' %>
  <%=s.label 'fibers shedding off' %><br>
  <%=s.radio_button :bark_attachment, 'fibrous' %>
  <%=s.label 'sheeting off' %><br>
  <%=s.radio_button :bark_attachment, 'flaking or scaling' %>
  <%=s.label 'flaking or scaling off' %><br>
</div>

<div class="field">
  <p><strong>Bark Texture</strong></p>
  <%=s.radio_button :bark_texture, 'smooth' %>
  <%=s.label :smooth %><br>
  <%=s.radio_button :bark_texture, 'coarse' %>
  <%=s.label :coarse %><br>
  <%=s.radio_button :bark_texture, 'scales or plates' %>
  <%=s.label 'scales or plates' %><br>
  <%=s.radio_button :bark_texture, 'hairy' %>
  <%=s.label :hairy %><br>
  <%=s.radio_button :bark_texture, 'ridges and furrows' %>
  <%=s.label 'ridges and furrows' %><br>
</div>

<div class="field">
  <p><strong>Bark Color</strong></p>
  <%=s.radio_button :bark_color, 'black' %>
  <%=s.label :black %><br>
  <%=s.radio_button :bark_color, 'brown' %>
  <%=s.label :brown %><br>
  <%=s.radio_button :bark_color, 'white' %>
  <%=s.label :white %><br>
  <%=s.radio_button :bark_color, 'gray' %>
  <%=s.label :gray %><br>
  <%=s.radio_button :bark_color, 'mottled' %>
  <%=s.label :mottled %><br>
</div>
