<div class="field">
  <p><strong>Flower Type</strong></p>
  <%=s.radio_button :flower_type, 'regular' %>
  <%=s.label :regular %><br>
  <%=s.radio_button :flower_type, 'daisy-like' %>
  <%=s.label 'daisy-like' %><br>
  <%=s.radio_button :flower_type, 'split' %>
  <%=s.label :split %><br>
  <%=s.radio_button :flower_type, 'ball' %>
  <%=s.label :ball %><br>
  <%=s.radio_button :flower_type, 'pea-like' %>
  <%=s.label 'pea-like' %><br>
  <%=s.radio_button :flower_type, 'other' %>
  <%=s.label :other %><br>
</div>

<div class="field">
  <p><strong>Flower Attachment</strong></p>
  <%=s.radio_button :flower_attachment, 'stemmed' %>
  <%=s.label :regular %><br>
  <%=s.radio_button :flower_attachment, 'stemless' %>
  <%=s.label 'daisy-like' %><br>
  <%=s.radio_button :flower_attachment, 'branched stems' %>
  <%=s.label :split %><br>
  <%=s.radio_button :flower_attachment, 'leaf back' %>
  <%=s.label :ball %><br>
</div>

<div class="field">
  <p><strong>Flower Arrangement</strong></p>
  <%=s.radio_button :flower_arrangement, 'solitary' %>
  <%=s.label :solitary %><br>
  <%=s.radio_button :flower_arrangement, 'single cluster' %>
  <%=s.label 'single cluster' %><br>
  <%=s.radio_button :flower_arrangement, 'multiple clusters' %>
  <%=s.label 'multiple clusters' %><br>
</div>

<div class="field">
  <p><strong>Symmetry</strong></p>
  <%=s.radio_button :flower_symmetry, 'bilateral' %>
  <%=s.label :bilateral %><br>
  <%=s.radio_button :flower_symmetry, 'radial' %>
  <%=s.label :radial %><br>
</div>

<div class="field">
  <p><strong>Petal Number</strong></p>
  <%=s.label :flower_petal_number %><br>
  <%=s.select :flower_petal_number, options_for_select(['1','2','3','4','5','6 or more']), include_blank: true %><br>
</div>

<div class="field">
  <p><strong>Petal Color</strong></p>
  <%=s.radio_button :flower_petal_color, 'whit' %>
  <%=s.label :white %><br>
  <%=s.radio_button :flower_petal_color, 'yellow' %>
  <%=s.label :yellow %><br>
  <%=s.radio_button :flower_petal_color, 'pink' %>
  <%=s.label 'red or pink' %><br>
  <%=s.radio_button :flower_petal_color, 'blue' %>
  <%=s.label :blue %><br>
  <%=s.radio_button :flower_petal_color, 'green' %>
  <%=s.label :green %><br>
  <%=s.radio_button :flower_petal_color, 'brown' %>
  <%=s.label :brown %><br>
</div>
