<div class="field">
  <p><strong>Flower Type</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :flower_type, 'regular' %> Regular</label>
    <label class="list-group-item"><%=s.radio_button :flower_type, 'daisy-like' %> Daisy-like</label>
    <label class="list-group-item"><%=s.radio_button :flower_type, 'split' %> Split</label>
    <label class="list-group-item"><%=s.radio_button :flower_type, 'ball' %> Ball</label>
    <label class="list-group-item"><%=s.radio_button :flower_type, 'pea-like' %> Pea-like</label>
    <label class="list-group-item"><%=s.radio_button :flower_type, 'other' %> Other</label>
  </ul>
</div>

<div class="field">
  <p><strong>Flower Attachment</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :flower_attachment, 'stemmed' %> Stemmed</label>
    <label class="list-group-item"><%=s.radio_button :flower_attachment, 'stemless' %> Stemless</label>
    <label class="list-group-item"><%=s.radio_button :flower_attachment, 'branched' %> Branched stems</label>
  </ul>
</div>

<div class="field">
  <p><strong>Flower Arrangement</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :flower_arrangement, 'solitary' %> Solitary</label>
    <label class="list-group-item"><%=s.radio_button :flower_arrangement, 'single cluster' %> Single cluster</label>
    <label class="list-group-item"><%=s.radio_button :flower_arrangement, 'multiple clusters' %> Multiple clusters</label>
  </ul>
</div>


<div class="field">
  <p><strong>Symmetry</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :flower_symmetry, 'bilateral' %> Bilateral</label>
    <label class="list-group-item"><%=s.radio_button :flower_symmetry, 'radial' %> Radial</label>
  </ul>
</div>

<div class="field">
  <p><strong>Petal Number</strong></p>
  <%=s.label :flower_petal_number %><br>
  <%=s.select :flower_petal_number, options_for_select(['1','2','3','4','5','6 or more']), include_blank: true %><br>
</div>

<div class="field">
  <p><strong>Petal Color</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :flower_petal_color, 'whit' %> White</label>
    <label class="list-group-item"><%=s.radio_button :flower_petal_color, 'yellow' %> Yellow</label>
    <label class="list-group-item"><%=s.radio_button :flower_petal_color, 'pink' %> Pink</label>
    <label class="list-group-item"><%=s.radio_button :flower_petal_color, 'blue' %> Blue</label>
    <label class="list-group-item"><%=s.radio_button :flower_petal_color, 'green' %> Green</label>
    <label class="list-group-item"><%=s.radio_button :flower_petal_color, 'brown' %> Brown</label>
  </ul>
</div>
