<div class="field">
  <p><strong>Fruit Type</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'fruit' %> Fruit</label>
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'seed' %> Seed</label>
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'spore' %> Spore</label>
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'nut' %> Nut</label>
  </ul>
</div>

<div class="field">
  <p><strong>Fruit Attachment</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'stemmed' %> Stemmed</label>
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'stemless' %> Stemless</label>
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'branched' %> Branched stems</label>
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'leaf back' %> Leaf back</label>
  </ul>
</div>

<div class="field">
  <p><strong>Fruit Arrangement</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_arrangement, 'solitary' %> Solitary</label>
    <label class="list-group-item"><%=s.radio_button :fruit_arrangement, 'single cluster' %> Single cluster</label>
    <label class="list-group-item"><%=s.radio_button :fruit_arrangement, 'multiple cluster' %> Multiple cluster</label>
  </ul>
</div>

<div class="field">
  <p><strong>Fruit Color</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'red' %> Red</label>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'blue' %> Blue</label>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'white' %> White</label>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'brown' %> Brown</label>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'variable' %> Variable</label>
  </ul>
</div>
