<div class="field">
  <p><strong>Fruit Type</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'fruit' %> Fruit</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'seed' %> Seed</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'spore' %> Spore</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_type, 'nut' %> Nut</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Fruit Attachment</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'stemmed' %> Stemmed</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'stemless' %> Stemless</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'branched' %> Branched stems</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_attachment, 'leaf back' %> Leaf back</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Fruit Arrangement</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_arrangement, 'solitary' %> Solitary</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_arrangement, 'single cluster' %> Single cluster</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_arrangement, 'multiple cluster' %> Multiple cluster</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Fruit Color</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'red' %> Red</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'blue' %> Blue</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'white' %> White</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'brown' %> Brown</label><br>
    <label class="list-group-item"><%=s.radio_button :fruit_color, 'variable' %> Variable</label><br>
  </ul>
</div>
