<div class="field">
  <p><strong>Leaf Type</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :leaf_type, 'simple' %> Simple</label>
    <label class="list-group-item"><%=s.radio_button :leaf_type, 'compound' %> Compound</label>
    <label class="list-group-item"><%=s.radio_button :leaf_type, 'needle' %> Needle</label>
    <label class="list-group-item"><%=s.radio_button :leaf_type, 'scale' %> Scale</label>
    <label class="list-group-item"><%=s.radio_button :leaf_type, 'thread-like' %> Thread-like</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Leaf Attachment</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :leaf_attachment, 'stemmed' %> Stemmed</label>
    <label class="list-group-item"><%=s.radio_button :leaf_attachment, 'stemless' %> Stemless</label>
    <label class="list-group-item"><%=s.radio_button :leaf_attachment, 'clasping' %> Clasping</label>
    <label class="list-group-item"><%=s.radio_button :leaf_attachment, 'surrounding' %> Surrounding</label>
    <label class="list-group-item"><%=s.radio_button :leaf_attachment, 'rootstock at soil' %> Rootstock at soil</label>
  </ul>
</div>


<div class="field">
  <p><strong>Leaf Arrangement</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :leaf_arrangement, 'opposite' %> Opposite</label>
    <label class="list-group-item"><%=s.radio_button :leaf_arrangement, 'alternate' %> Alternate</label>
    <label class="list-group-item"><%=s.radio_button :leaf_arrangement, 'whorled' %> Whorled</label>
    <label class="list-group-item"><%=s.radio_button :leaf_arrangement, 'basal' %> Basal rosette</label>
    <label class="list-group-item"><%=s.radio_button :leaf_arrangement, 'soil' %> From soil</label>
  </ul>
</div>

<div class="field">
  <p><strong>Leaf Veins</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :leaf_veins, 'palm-like' %> Palm-like</label>
    <label class="list-group-item"><%=s.radio_button :leaf_veins, 'feather-like' %> Feather-like</label>
    <label class="list-group-item"><%=s.radio_button :leaf_veins, 'net-like' %> Net-like</label>
    <label class="list-group-item"><%=s.radio_button :leaf_veins, 'dividing' %> Dividing by two</label>
    <label class="list-group-item"><%=s.radio_button :leaf_veins, 'parallel' %> Parallel</label>
  </ul>
</div>

<div class="field">
  <p><strong>Leaf Edge</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :leaf_edge, 'smooth' %> Smooth</label>
    <label class="list-group-item"><%=s.radio_button :leaf_edge, 'toothed' %> Toothed</label>
    <label class="list-group-item"><%=s.radio_button :leaf_edge, 'lobed' %> Lobed</label>
    <label class="list-group-item"><%=s.radio_button :leaf_edge, 'variable' %> Variable</label>
  </ul>
</div>
