<div class="field">
  <p><strong>Leaf Type</strong></p>
  <%=s.radio_button :leaf_type, 'simple' %>
  <%=s.label :simple %><br>
  <%=s.radio_button :leaf_type, 'compound' %>
  <%=s.label :compound %><br>
  <%=s.radio_button :leaf_type, 'needle' %>
  <%=s.label :needle %><br>
  <%=s.radio_button :leaf_type, 'scale' %>
  <%=s.label :scale %><br>
  <%=s.radio_button :leaf_type, 'thread-like' %>
  <%=s.label 'thread-like' %>
</div>

<div class="field">
  <p><strong>Leaf Attachment</strong></p>
  <%=s.radio_button :leaf_attachment, 'stemmed' %>
  <%=s.label :stemmed %><br>
  <%=s.radio_button :leaf_attachment, 'stemless' %>
  <%=s.label :stemless %><br>
  <%=s.radio_button :leaf_attachment, 'clasping' %>
  <%=s.label :clasping %><br>
  <%=s.radio_button :leaf_attachment, 'surrounding' %>
  <%=s.label :surrounding %><br>
  <%=s.radio_button :leaf_attachment, 'rootstock at soil' %>
  <%=s.label 'rootstock at soil' %>
</div>

<div class="field">
  <p><strong>Leaf Arrangement</strong></p>
  <%=s.radio_button :leaf_arrangement, 'opposite' %>
  <%=s.label :opposite %><br>
  <%=s.radio_button :leaf_arrangement, 'alternate' %>
  <%=s.label :alternate %><br>
  <%=s.radio_button :leaf_arrangement, 'whorled' %>
  <%=s.label :whorled %><br>
  <%=s.radio_button :leaf_arrangement, 'basal rosette' %>
  <%=s.label 'basal rosette' %><br>
  <%=s.radio_button :leaf_arrangement, 'from soil' %>
  <%=s.label 'from soil' %>
</div>

<div class="field">
  <p><strong>Leaf Veins</strong></p>
  <%=s.radio_button :leaf_veins, 'palm-like' %>
  <%=s.label 'palm-like' %><br>
  <%=s.radio_button :leaf_veins, 'feather-like' %>
  <%=s.label 'feather-like' %><br>
  <%=s.radio_button :leaf_veins, 'net-like' %>
  <%=s.label 'net-like' %><br>
  <%=s.radio_button :leaf_veins, 'dividing by two' %>
  <%=s.label 'dividing by two' %><br>
  <%=s.radio_button :leaf_veins, 'parallel' %>
  <%=s.label 'parallel' %>
</div>

<div class="field">
  <p><strong>Leaf Edge</strong></p>
  <%=s.radio_button :leaf_edge, 'smooth' %>
  <%=s.label :simple %><br>
  <%=s.radio_button :leaf_edge, 'toothed' %>
  <%=s.label :compound %><br>
  <%=s.radio_button :leaf_edge, 'lobed' %>
  <%=s.label :needle %><br>
  <%=s.radio_button :leaf_edge, 'variable' %>
  <%=s.label :scale %><br>
</div>
