<div class="field">
  <p><strong>Flower Type</strong></p>
  <%=s.radio_button :flower_type, 'regular' %>
  <%=s.label :regular %><br>
  <%=s.radio_button :flower_type, 'daisy-like' %>
  <%=s.label 'daisy-like' %><br>
  <%=s.radio_button :flower_type, 'split' %>
  <%=s.label :split %><br>
  <%=s.radio_button :flower_type, 'ball' %>
  <%=s.label :ball %><br>
  <%=s.radio_button :flower_type, 'pea-like' %>
  <%=s.label 'pea-like' %><br>
  <%=s.radio_button :flower_type, 'other' %>
  <%=s.label :other %><br>
</div>
