<div class="field">
  <p><strong>Tendril Type</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :tendril_type, 'irregular curl' %> Irregular curl</label><br>
    <label class="list-group-item"><%=s.radio_button :tendril_type, 'spiral' %> Spiral</label><br>
    <label class="list-group-item"><%=s.radio_button :tendril_type, 'with adhesive suckers' %> With adhesive suckers</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Tendril Attachment</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :tendril_attachment, 'beneath leaf stem' %> Beneath leaf stem</label><br>
    <label class="list-group-item"><%=s.radio_button :tendril_attachment, 'beneath flower' %> Beneath flower</label><br>
    <label class="list-group-item"><%=s.radio_button :tendril_attachment, 'leaf tip' %> Leaf tip</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Tendril Arrangement</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :tendril_arrangement, 'opposite 1 or 2 leaves' %> Opposite one or two leaves</label><br>
    <label class="list-group-item"><%=s.radio_button :tendril_arrangement, 'opposite 3 or more leaves' %> Opposite three or more leaves</label><br>
    <label class="list-group-item"><%=s.radio_button :tendril_arrangement, 'beneath leaf stem' %> Dense along stem</label><br>
  </ul>
</div>
