<div class="field">
  <p><strong>Thorn Type</strong></p>
  <%= s.radio_button :thorn_type, 'long' %>
  <%= s.label :long %><br>
  <%= s.radio_button :thorn_type, 'short' %>
  <%= s.label :short %><br>
  <%= s.radio_button :thorn_type, 'hooked at end' %>
  <%= s.label 'hooked at end' %><br>
</div>

<div class="field">
  <p><strong>Thorn Arrangement</strong></p>
  <%= s.radio_button :thorn_arrangement, 'at node' %>
  <%= s.label 'at node' %><br>
  <%= s.radio_button :thorn_arrangement, 'along stem' %>
  <%= s.label 'along stem' %><br>
  <%= s.radio_button :thorn_arrangement, 'leaf edge' %>
  <%= s.label 'leaf edge' %><br>
  <%= s.radio_button :thorn_arrangement, 'branchlet' %>
  <%= s.label 'branchlet end' %><br>
  <%= s.radio_button :thorn_arrangement, 'other' %>
  <%= s.label 'other' %><br>
</div>

<div class="field">
  <p><strong>Thorn Stiffness</strong></p>
  <%= s.radio_button :thorn_stiffness, 'very stiff' %>
  <%= s.label 'very stiff' %><br>
  <%= s.radio_button :thorn_stiffness, 'bendable' %>
  <%= s.label :bendable %><br>
  <%= s.radio_button :thorn_stiffness, 'hair-like' %>
  <%= s.label 'hair-like' %><br>
</div>
