<div class="field">
  <p><strong>Thorn Type</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :thorn_type, 'long' %> Long</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_type, 'short' %> Short</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_type, 'hooked' %> Hooked at end</label><br>
  </ul>
</div>

<div class="field">
  <p><strong>Thorn Arrangemment</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :thorn_arrangement, 'at node' %> At node</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_arrangement, 'along stem' %> Along stem</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_arrangement, 'leaf edge' %> Leaf edge</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_arrangement, 'branchlet' %> Branchlet</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_arrangement, 'other' %> Other</label><br>
  </ul>
</div>


<div class="field">
  <p><strong>Thorn Stiffness</strong></p>
  <ul class="list-group">
    <label class="list-group-item"><%=s.radio_button :thorn_stiffness, 'very stiff' %> Very stiff</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_stiffness, 'bendable' %> Bendable</label><br>
    <label class="list-group-item"><%=s.radio_button :thorn_stiffness, 'hair-like' %> Hair-like</label><br>
  </ul>
</div>
