<%= javascript_include_tag 'multistep' %>
<h1>Features</h1>

<!-- having the <p> nested causes text to disappear on hover, but getting
rid of p's causes logic issues with jQuery
may want to just get rid of scaffold css altogether -->

<div class="list-group" id="features">
  <a href="#" class="list-group-item">Leaves</a>
  <a href="#" class="list-group-item">Flowers</a>
  <a href="#" class="list-group-item">Fruit</a>
  <a href="#" class="list-group-item">Bark</a>
  <a href="#" class="list-group-item">Thorns</a>
  <a href="#" class="list-group-item">Tendril</a>
</div>

  <%=form_for @search do |s|%>
    <div class="features">
        <span> <%= render 'leaves', :s => s %> </span>
        <span> <%= render 'flowers', :s => s %> </span>
        <span> <%= render 'fruit', :s => s %> </span>
        <span> <%= render 'bark', :s => s %> </span>
        <span> <%= render 'thorns', :s => s %> </span>
        <span> <%= render 'tendril', :s => s %> </span>
    </div>

    <div class="action">
      <%=s.submit "Search", class: "btn btn-primary" %>
    </div>
  <%end%>

<div class="buttons">
    <button id="first_back" class="btn btn-primary">Back</button>
    <button id="back" class="btn btn-primary">Back</button>
    <button id="next" class="btn btn-primary">Next</button>
    <button id="finish" class="btn btn-primary">Finish</button>
</div>

<div class="back_to_menu">
  <%=link_to 'Back to Menu', plants_path %>
</div>
<!--<p><%=link_to 'Back', plants_path %></p>-->
