<%= javascript_include_tag 'multistep' %>
<h1>Features</h1>

<!-- having the <p> nested causes text to disappear on hover, but getting
rid of p's causes logic issues with jQuery
may want to just get rid of scaffold css altogether -->
<div id="features">
  <a href="#">Leaves</a>
  <a href="#">Flowers</a>
  <a href="#">Fruit</a>
  <a href="#">Bark</a>
  <a href="#">Thorns</a>
  <a href="#">Tendril</a>
</div>

<div>
  <%=form_for @search do |s|%>
    <span> <%= render 'leaves', :s => s %> </span>
    <span> <%= render 'flowers', :s => s %> </span>
    <span> <%= render 'fruit', :s => s %> </span>
    <span> <%= render 'bark', :s => s %> </span>
    <span> <%= render 'thorns', :s => s %> </span>
    <span> <%= render 'tendril', :s => s %> </span>

    <div class="action">
      <%=s.submit "Search"%>
    </div>
  <%end%>
<div>

<button id="first_back">Back</button>
<button id="back">Back</button>
<button id="next">Next</button>
<button id="finish">Finish</button>

<p><%=link_to 'Back', plants_path %></p>
