<h1>Search Results</h1>

<%if @plants.empty?%>
  <p style="text-align:center;">No records found</p>
  <div style="text-align:center;"><%=link_to 'New Search', new_search_path, class: 'back_to_search' %></div>
<%else%>
  <p style="text-align:center;"><%= @plants.length %> results found.</p>
  <div style="text-align:center;"><%=link_to 'New Search', new_search_path, class: 'back_to_search' %></div>
  <div class="results_table">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Tsn</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% i=0 %>
        <% @plants.each do |plant| %>
          <% i+=1 %>
          <tr>
            <td><%= i %></td>
            <td><a href="#"><%=plant.name%></a></td>
            <td><%=plant.tsn%></td>
          </tr>
        <%end%>
      </tbody>

    </table>
  </div>
<%end%>
